.adminPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    align-items: start;
    padding: 120px 120px 120px 120px;
}

.adminNavbar{
    display: flex;
    gap:24px;
}

.listHeads{
    list-style: none;
    cursor: pointer;
}

.chosen{
    border-bottom: solid black 2px;
}

.adminFormBox{
    display: flex;
    justify-content: start;
    margin-top: 60px;
    width: 100%;
    height: 100%;
}