.adminPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    align-items: start;
    /* padding: 120px 120px 120px 120px; */
    padding: 120px 20px 20px 20px;
}

@media (min-width: 768px) {
    .adminPage{
        padding: 120px 120px 120px 120px;
      }
  }

.adminNavbar{
    display: flex;
    /* gap:24px; */
    gap:10px
}



.listHeads{
    list-style: none;
    cursor: pointer;
    font-size: 12px;/* mobile */
}

@media (min-width: 768px) {
    .listHeads{
        font-size: 16px;
      }
  }

.chosen{
    border-bottom: solid black 2px;
}

.adminFormBox{
    display: flex;
    justify-content: start;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .adminFormBox{
        margin-top: 40px;
    }
  }