.donationInfo-container{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width:500px){
    .donationInfo-container p {
        text-align: center;
    }
}