header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-inline: 10px;
}