@font-face {
  font-family: "Georgian";
  src: url("./Components/CSS/fonts/bpg_extrasquare_mtavruli_2009.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
  min-height: 100vh;
}

#root{
  min-height: 100vh;
}

* {
  font-family: "Georgian", sans-serif;
  box-sizing: border-box;
}
