.DonationForm {
  width: 100%;
}

.form-group {
  margin-top: 40px;
  padding-bottom: 20px;
position: relative;
}

.form-input {
  width: 100%;
  height: 30px;
  border: solid black 2px;
  border-radius: 15px;
  padding: 2px 10px;
  outline: none;
}
.donationInputError {
  border: solid red 2px;
}

.submitBox {
  width: 100%;
  display: flex;
  justify-content: end;
}

.submit {
  width: fit-content;
}

.donationError {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}
