.LawyerForm {
  width: 100%;
}

.lawyerThreeInput {
  display: flex;
  gap: 30px;
}

@media (min-width: 768px) {
  .lawyerThreeInput {
    gap: 80px;
  }
}

.twoInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  margin-top: 40px;
}

/* Label styles */
.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

/* Input styles */
.lawyer-form-input {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  padding: 2px 10px;
  outline: none;
}

.lawyerInputBorder {
    border: solid black 2px;
}

.lawyerInputErrorBorder {
  border: solid red 2px;
}

.form-textarea {
  width: 100%;
  /* height: 100%; */
  border: solid black 2px;
  border-radius: 15px;
  padding: 2px 10px;
  outline: none;
}

.formImageBox {
  width: fit-content;
  border: solid black 2px;
  border-radius: 15px;
  padding: 2px 10px;
  position: relative;
}
.imageInput {
  display: none;
}

.inputGroup {
  padding-bottom: 20px;
  position: relative;
}

.detailSubmitBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.submitBox {
  width: 100%;
  display: flex;
  justify-content: end;
}

.submit {
  width: fit-content;
}

.lawyerError {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}
